.Button {
    color: #fff;
    box-sizing: border-box;
}

.Button--small {
    padding: 3px;
    font-size: 8px;
}

.Button--normal {
    padding: 10px;
    font-size: 18px;
}

.Button--large {
    padding: 14px;
    font-size: 14px;
}

.Button--primary {
    background-color: #007bff;
    border-color: #007bff;
}

.Button--secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.Button--success {
    background-color: #28a745;
    border-color: #28a745;
}

.Button--danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.Button__counter {
    padding: 5px;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 5px;
    color: #000;
}
